// Place all the styles related to the time_sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.clock_in_btn {
  background: #FF6EB0;
  border: 1px solid #FF6EB0;
  padding: 5px 10px
}

.clock_out_btn {
  background: #FFED1B;
  border: 1px solid #FFED1B;
  padding: 5px 10px;
}
